body {
    font-size: 15pt;
    background-color: #f2f2f2;
}

.container {
  width: 100%px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 0 auto;
}

.container h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
}

.form-group input {
  width: 93%;
  padding: 10px;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}


a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
}